body{
    background: #343a40;
    color: white;
    width: 100%;
}

.navbar{
    text-transform: uppercase;
    background: rgb(33, 37, 41, 0.7);
    transition: 0.5s;
    border-bottom: 1px solid gold;
}

.navbar:hover{
    background: rgb(33, 37, 41, 1);
    transition: 0.5s;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: gold;
}

.eha-logo{
    transition: 0.5s;
}

.eha-logo:hover{
    color: gold;
    transition: 0.5s;
}

.text-gold{
    color: gold;
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.02); }
}

.p-text{
    margin-left: 2px;
}

.card{
    border: 2px solid gold;
}

.card-body{
    background: rgba(0, 0, 0, 0.795);
}

footer{
    height: 40px;
    border-top: 1px solid gold;
    font-weight: lighter;
}

footer a{
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

footer a:hover{
    color: goldenrod;
    text-decoration: none;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 36px;
    background-color: white;
    margin-left: 4px;
    animation: blink .6s linear infinite alternate;
}


@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
  